@font-face 
  font-family: "CustomRoboto"
  src: url("assets/fonts/Roboto-Regular.ttf") format('truetype')
  font-weight: 400

@font-face 
  font-family: "CustomRoboto"
  src: url("assets/fonts/Roboto-Bold.ttf") format('truetype')
  font-weight: 700

@font-face 
  font-family: "CustomRoboto"
  src: url("assets/fonts/Roboto-Medium.ttf") format('truetype')
  font-weight: 500;

$landscape: 'orientation: landscape';
$portrait: 'orientation: portrait';

$devices: (
  'portrait': (
    'mobile-s': '320px',
    'mobile-m': '376px',
    'mobile-l': '414px',
    'tablet':   '768px',
    'laptop':   '1024px',
    'laptop-l': '1080px'
    ),
  'landscape': (
    'mobile-s': '568px',
    'mobile-m': '668px',
    'mobile-l': '736px',
    'tablet':   '1024px',
    'laptop':   '1366px',
    'laptop-l': '1920px'
  )
);

$no-margin-collapse: 0.05px;
$themes: (
  "light": (
    "colors": (
      "color-primary": #261C00,
      "color-secondary": #BFBFBF,
      "button": #BFBFBF,
      "button-hover": #F4B000,
    ),
    "backgrounds": (
      "bg-primary": "linear-gradient(180deg, #FFF2D1 0.82%, #FFD66C 100%)",
      "bg-secondary": "linear-gradient(180deg, rgba(244, 244, 244, 0.9) 0.82%, #E9E9E9 100%, rgba(234, 234, 234, 0) 100%)",
      "bg": #FFFFFF,
    ),
    "shadows": (
      "shadow-primary": "inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.8)",
      "shadow-secondary": "inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(207, 207, 207, 0.5)",
    ),
    "filters": (
      "filter-image": '',
    ),
  ),
  "dark": (
    "colors": (
      "color-primary": #FCFBF7,
      "color-secondary": #918F8A,
      "button": #FCFBF7,
      "button-hover": #918F8A,
    ),
    "backgrounds": (
      "bg-primary": "radial-gradient(91.67% 122.17% at 69.17% -11.17%, #FFA300 0%, #2D1C00 100%)",
      "bg-secondary": "linear-gradient(180deg, rgba(0, 0, 0, 0) -2.22%, rgba(0, 0, 0, 0.8) 100%), radial-gradient(149.08% 95.38% at 38.75% 71.48%, #000000 0%, #231900 0.01%, #4D4D4D 100%)",
      "bg": "radial-gradient(circle at 50% 50%, #120C01 0%, #000000 100%)",
    ),
    "shadows": (
      "shadow-primary": "inset -1px 1px 1px rgba(255, 255, 255, 0.4), inset 0px 6px 15px rgba(255, 162, 0, 0.4)",
      "shadow-secondary": "inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 16px rgba(103, 103, 103, 0.6)",
    ),
    "filters": (
      "filter-image": grayscale(100%),
    )
  )
);

@mixin element-color($color) {
  background-image: url('data:image/svg+xml;utf8,<svg ...><g stroke="#{$color}" ... /></g></svg>');
}

@each $theme-name, $theme-vars in $themes {
  $shadows: map-get($theme-vars, "shadows");
  $backgrounds: map-get($theme-vars, "backgrounds");
  $colors: map-get($theme-vars, "colors");
  $filters: map-get($theme-vars, "filters");

  body.theme_#{$theme-name} {
    
    // define a css variable for each color
    @each $name, $color in $colors {
      --#{$name}: #{$color};
    }

    // define a css variable for each theme color
    @each $name, $color in $backgrounds {
      --#{$name}: #{$color};
    }

    // define a css variable for each shadow
    @each $name, $shadow in $shadows {
      --#{$name}: #{$shadow};
    }

    // define a css variable for each filter
    @each $name, $filter in $filters {
      --#{$name}: #{$filter};
    }  
  }
};


@mixin zoom($value, $direction: top) {
    transform: scale($value); 
    transform-origin: $direction; 
    -moz-transform: scale($value); 
    -moz-transform-origin: $direction;
}

/* -----=== Adaptive design mixin ===----- */
@mixin orientation($orientation) {
  @if $orientation == landscape {
    @media ($landscape) { @content; }
  }
  @if $orientation == portrait {
    @media ($portrait) { @content; }
  }
}

* {
  margin: 0;
}

body {
    background: var(--bg);
}

button {
  border: none;
  background: none;
  padding: 0;
}

/* MODIFICATORS  */
.text_truncation {
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.color_primary {
  color: var(--color-primary);
}

.color_secondary {
  color: var(--color-secondary);
}

 .background_primary {
  background: var(--bg-primary);
  box-shadow: var(--shadow-primary);
}

.background_secondary {
  background: var(--bg-secondary);
  box-shadow: var(--shadow-secondary);
}

.slide {
  font-family: "CustomRoboto", sans-serif;
  letter-spacing: 0px;
  display: flex;
  flex-direction: column;
  //padding: 20px 24px 0 24px;
  height: 100%;
  box-sizing: border-box; /* In case to disable window stretching by padding */
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-end;
}

.headline {
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
}

.subhead {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.caption {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.avatar {
  border-radius: 100px;
}

.user-card {
  width: 104px;
  text-align: center;
  position: relative;
  padding: $no-margin-collapse;
  padding-bottom: 16px;
  border-radius: 6px;
  display: block;

  &__avatar {
    display: block;
    margin: 20px auto 0 auto;
    filter: var(--filter-image);
  }

  &__name {
    margin: 6px 4px;
    height: 36px;
    color: var(--color-primary);
  }

  &__caption {
    color: var(--color-secondary);
  }

  &__emoji {
    z-index: 1;
    font-size: 32px;
    position: absolute;
    transform: translate(0, 50%);
    margin: auto;
    left: 0;
    right: 0;
    top: -22px;
  }

  &_hoverable {
    &:hover  { @extend .background_secondary; }
  }

  &_active { @extend .background_primary; }
}

@mixin user-card_style($name-color, $caption-color) {
  .user-card {
    &__name {
      color: $name-color !important;
    } 

    &__caption {
      color: $caption-color !important;
    }
  }
}

.podium {
  position: relative;
  justify-content: center;
  display: flex;
  text-align: center;

  height: 325px;
  @include orientation(landscape) { height: 108px; }

  &__user-card {
    margin-top: -160px;
  }

  &__place-number {
    margin-top: 16px; 
    color: var(--color-primary); 

    &_position_extra {
      margin-top: 0; 
    }  
  }

  &__step {
    min-width: max-content;
    border-radius: 6px 6px 0 0;

    &_position_left {
      margin-right: -16px;
      padding-right: 16px;
    }

    &_position_right {
      margin-left: -16px;
      padding-left: 16px;
    }

    &_position_center {
      padding: 0 8px;
    }

    &_position_extra {
      position: absolute;
      bottom: 16px;
      @include user-card_style(var(--color-primary), var(--color-primary));
    }
  }
}

.header {

  padding: 20px 24px 0 24px;

  &__title {
    color: var(--color-primary);
    @include orientation(landscape) { text-align: center; }
   }

  &__subtitle {
    margin-top: 8px;
    color: var(--color-secondary);
    @include orientation(landscape) { text-align: center; }
  }
}

.button {
  width: 64px;
  height: 64px;

  svg {
    fill: var(--button-hover);

    &:hover {
      fill: var(--button);
    }
  }

  &_disabled {
    pointer-events: none;
    svg { fill: var(--button); }
  }

  &_direction_up { svg { transform: rotate(180deg); } }
  &_direction_down { }
}

.user-grid {  
  display: grid;
  justify-items: center;
  margin: 0 24px;
  height: 100%;

  &__column {   
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__button-up   { order: -1; }
  &__button-down { order: 1;  }

  @include orientation(portrait)  { grid-template-columns: repeat(3, 1fr); }
  @include orientation(landscape) { grid-template-columns: repeat(5, 1fr); }
}

