$landscape: 'orientation: landscape';
$portrait: 'orientation: portrait';

$devices: (
  'portrait': (
    'mobile-s': '320px',
    'mobile-m': '376px',
    'mobile-l': '414px',
    'tablet':   '768px',
    'laptop':   '1024px',
    'laptop-l': '1080px'
    ),
  'landscape': (
    'mobile-s': '568px',
    'mobile-m': '668px',
    'mobile-l': '736px',
    'tablet':   '1024px',
    'laptop':   '1366px',
    'laptop-l': '1920px'
  )
);

$no-margin-collapse: 0.05px;
$themes: (
  "light": (
    "colors": (
      "color-primary": #261C00,
      "color-secondary": #BFBFBF,
      "button": #BFBFBF,
      "button-hover": #F4B000,
    ),
    "backgrounds": (
       "bg": #FFFFFF,
      "bg-primary": "linear-gradient(180deg, #FFF2D1 0.82%, #FFD66C 100%)",
      "bg-secondary": "linear-gradient(180deg, rgba(244, 244, 244, 0.9) 0.82%, #E9E9E9 100%, rgba(234, 234, 234, 0) 100%)",
      "bg-diagram-0": "radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(255, 184, 0, 0.56) 81.25%, rgba(255, 239, 153, 0.32) 100%)",
      "bg-diagram-1": "radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(255, 184, 0, 0.24) 81.25%, rgba(255, 239, 153, 0.12) 100%)",
      "bg-diagram-2": "radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(166, 166, 166, 0.1725) 82.81%, rgba(203, 203, 203, 0.05) 92.19%)",
      "bg-diagram-3": "radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(191, 191, 191, 0.345) 82.81%, rgba(228, 228, 228, 0.1) 92.19%)",
    ),
    "shadows": (
      "shadow-primary"  : "inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.8)",
      "shadow-secondary": "inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(207, 207, 207, 0.5)",
      "shadow-diagram-0": "inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.9)",
      "shadow-diagram-1": "inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.4)",
      "shadow-diagram-2": "inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(105, 105, 105, 0.2)",
      "shadow-diagram-3": "inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(131, 131, 131, 0.6)",

    ),
    "filters": (
      "filter-image": '',
    ),
    "svg": (
      "svg-min"           : "url(assets/svg/min-light.svg)",
      "svg-mid"           : "url(assets/svg/mid-light.svg)",
      "svg-max"           : "url(assets/svg/max-light.svg)",
      "svg-extra"         : "url(assets/svg/extra-light.svg)",
      "svg-interval-time" : "url(assets/svg/time-light-interval.svg)",
      "svg-interval-min"  : "url(assets/svg/min-light-interval.svg)",
      "svg-interval-mid"  : "url(assets/svg/mid-light-interval.svg)",
      "svg-interval-max"  : "url(assets/svg/max-light-interval.svg)",
      "svg-interval-extra": "url(assets/svg/extra-light-interval.svg)",
    )
  ),
  "dark": (
    "colors": (
      "color-primary": #FCFBF7,
      "color-secondary": #918F8A,
      "button": #FCFBF7,
      "button-hover": #918F8A,
    ),
    "backgrounds": (
      "bg": "radial-gradient(70.24% 70.24% at 49.87% 29.76%, rgba(18, 12, 1, 0.9) 0%, #000000 100%);",
      "bg-primary"  : "radial-gradient(91.67% 122.17% at 69.17% -11.17%, #FFA300 0%, #2D1C00 100%)",
      "bg-secondary": "linear-gradient(180deg, rgba(0, 0, 0, 0) -2.22%, rgba(0, 0, 0, 0.8) 100%), radial-gradient(149.08% 95.38% at 38.75% 71.48%, #000000 0%, #231900 0.01%, #4D4D4D 100%)",
      "bg-diagram-0": "radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(255, 163, 0, 0.8) 71.88%, rgba(91, 58, 0, 0.8) 100%)",
      "bg-diagram-1": "radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(99, 63, 0, 0.5) 72.92%, rgba(15, 9, 0, 0.5) 100%)",
      "bg-diagram-2": "radial-gradient(100% 100% at 50% 0%, rgba(151, 151, 151, 0.5) 0%, rgba(41, 41, 41, 0.5) 100%)",
      "bg-diagram-3": "radial-gradient(100% 100% at 50% 0%, rgba(62, 62, 62, 0.5) 0%, rgba(40, 40, 40, 0.5) 100%)",


    ),
    "shadows": (
      "shadow-primary"  : "inset -1px 1px 1px rgba(255, 255, 255, 0.4), inset 0px 6px 15px rgba(255, 162, 0, 0.4)",
      "shadow-secondary": "inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 16px rgba(103, 103, 103, 0.6)",
      "shadow-diagram-0": "0px 0px 20px -8px rgba(248, 158, 0, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 162, 0, 0.9)",
      "shadow-diagram-1": "0px 0px 20px -8px rgba(147, 93, 0, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(202, 129, 0, 0.9)",
      "shadow-diagram-2": "inset -1px 1px 1px rgba(255, 255, 255, 0.5)",
      "shadow-diagram-3": "inset -1px 1px 1px rgba(255, 255, 255, 0.5)",
    ),
    "filters": (
      "filter-image": grayscale(100%),
    ),
    "svg": (
      "svg-min"           : "url(assets/svg/min-dark.svg)",
      "svg-mid"           : "url(assets/svg/mid-dark.svg)",
      "svg-max"           : "url(assets/svg/max-dark.svg)",
      "svg-extra"         : "url(assets/svg/extra-dark.svg)",
      "svg-interval-time" : "url(assets/svg/time-dark-interval.svg)",
      "svg-interval-min"  : "url(assets/svg/min-dark-interval.svg)",
      "svg-interval-mid"  : "url(assets/svg/mid-dark-interval.svg)",
      "svg-interval-max"  : "url(assets/svg/max-dark-interval.svg)",
      "svg-interval-extra": "url(assets/svg/extra-dark-interval.svg)",
    )
  )
);

@mixin element-color($color) {
  background-image: url('data:image/svg+xml;utf8,<svg ...><g stroke="#{$color}" ... /></g></svg>');
}

@each $theme-name, $theme-vars in $themes {
  $shadows: map-get($theme-vars, "shadows");
  $backgrounds: map-get($theme-vars, "backgrounds");
  $colors: map-get($theme-vars, "colors");
  $filters: map-get($theme-vars, "filters");
  $svgs: map-get($theme-vars, "svg");

  body.theme_#{$theme-name} {
    
    // define a css variable for each color
    @each $name, $color in $colors {
      --#{$name}: #{$color};
    }

    // define a css variable for each theme color
    @each $name, $color in $backgrounds {
      --#{$name}: #{$color};
    }

    // define a css variable for each shadow
    @each $name, $shadow in $shadows {
      --#{$name}: #{$shadow};
    }

    // define a css variable for each filter
    @each $name, $filter in $filters {
      --#{$name}: #{$filter};
    }

    // define a css variable for each svg
    @each $name, $svg in $svgs {
      --#{$name}: #{$svg};
    }   
  }
};


@mixin zoom($value, $direction: top) {
    transform: scale($value); 
    transform-origin: $direction; 
    -moz-transform: scale($value); 
    -moz-transform-origin: $direction;
}

/* -----=== Adaptive design mixin ===----- */
@mixin orientation($orientation) {
  @if $orientation == landscape {
    @media ($landscape) { @content; }
  }
  @if $orientation == portrait {
    @media ($portrait) { @content; }
  }
}

* {
  margin: 0;
}

body {
    background: var(--bg);
}

button {
  border: none;
  background: none;
  padding: 0;
}

/* MODIFICATORS  */
.--text_truncation {
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.--color_primary {
  color: var(--color-primary);
}

.--color_secondary {
  color: var(--color-secondary);
}

 .--background_primary {
  background: var(--bg-primary);
  box-shadow: var(--shadow-primary);
}

.--background_secondary {
  background: var(--bg-secondary);
  box-shadow: var(--shadow-secondary);
}

.--style-diagram-0 {
  background: var(--bg-diagram-0);
  box-shadow: var(--shadow-diagram-0);
}

.--style-diagram-1 {
  background: var(--bg-diagram-1);
  box-shadow: var(--shadow-diagram-1);
}

.--style-diagram-2 {
  background: var(--bg-diagram-2);
  box-shadow: var(--shadow-diagram-2);
}

.--style-diagram-3 {
  background: var(--bg-diagram-3);
  box-shadow: var(--shadow-diagram-3);
}

.--align_top    { justify-content: flex-top; }
.--align_bottom { justify-content: flex-end; }
.--align_center { justify-content: flex-center; }

.slide {
  font-family: "Roboto";
  letter-spacing: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box; /* In case to disable window stretching by padding */
}

.slide-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.headline {
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
}

.subhead {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.caption {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.avatar {
  border-radius: 100px;
}

.user-card {
  
  position: relative; /* For emoji positioning */
  border-radius: 6px;

  &__avatar { filter: var(--filter-image); }
  &__name { color: var(--color-primary); }
  &__caption { color: var(--color-secondary); }

  &--vertical {
    
    display: block;
    height: max-content;
    width: min-content;
    padding: 6px 6px 16px 6px;
    text-align: center;

    .user-card__avatar { 
      display: block;
      margin: 16px 16px 0 16px; 
    }

    .user-card__name {
      margin-top: 6px;
      width: 96px;
      height: 36px;
    }

    .user-card__caption { 
      margin-top: 4px;
      width: 96px;
      height: 16px;
    }

    .user-card__emoji { 
      z-index: 1;
      font-size: 32px;
      position: absolute;
      transform: translate(0, 50%);
      margin: auto;
      left: 0;
      right: 0;
      top: -22px;
    }
  }

  &--horizontal {
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 40px;
    padding: 12px;

    .user-card__avatar { 
      height: 40px;
      width: 40px;
      margin-right: 14px;
    }

    .user-card__name { 
      white-space: nowrap;
      width: 266px;
      height: 16px;
    }

    .user-card__caption {
      white-space: nowrap;
      width: 266px;
      height: 16px;
    }

    .user-card__emoji {
      display: none;
    }
  }

  &--hoverable {
    &:hover  { @extend .--background_secondary; }
  }

  &--active { @extend .--background_primary; }
}

@mixin user-card_style($name-color, $caption-color) {
  .user-card {
    &__name {
      color: $name-color !important;
    } 

    &__caption {
      color: $caption-color !important;
    }
  }
}

.podium {
  position: relative;
  justify-content: center;
  display: flex;
  text-align: center;

  height: 345px;
  @include orientation(landscape) { height: 108px; }

  &__user-card {
    margin-top: -160px;
  }

  &__place-number {
    margin-top: 16px; 
    color: var(--color-primary); 

    &--position_extra {
      margin-top: 0; 
    }  
  }

  &__divider {
    width: 60px;
    height: 1px;
    background: var(--color-secondary);
    margin: -8px auto 6px auto;
  }

  &__step {
    min-width: max-content;
    border-radius: 6px 6px 0 0;

    &--position_left {
      margin-right: -16px;
      padding-right: 16px;
    }

    &--position_right {
      margin-left: -16px;
      padding-left: 16px;
    }

    &--position_center {
      padding: 0 8px;
    }

    &--position_extra {
      position: absolute;
      bottom: 36px;
      @include user-card_style(var(--color-primary), var(--color-primary));
    }
  }
}

.header {

  padding: 20px 24px 0 24px;

  &__title {
    color: var(--color-primary);
    @include orientation(landscape) { text-align: center; }
   }

  &__subtitle {
    margin-top: 8px;
    color: var(--color-secondary);
    @include orientation(landscape) { text-align: center; }
  }
}

.button {
  width: 64px;
  height: 64px;

  svg {
    fill: var(--button-hover);

    &:hover {
      fill: var(--button);
    }
  }

  &--disabled {
    pointer-events: none;
    svg { fill: var(--button); }
  }

  &--direction_up { svg { transform: rotate(180deg); } }
  &--direction_down { }
}

.user-grid {  
  display: grid;
  justify-items: center;
  margin: 0 24px;
  height: 100%;

  &__column {   
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__button-up   { order: -1; }
  &__button-down { order: 1;  }

  @include orientation(portrait)  { grid-template-columns: repeat(3, 1fr); }
  @include orientation(landscape) { grid-template-columns: repeat(5, 1fr); }
}

.chart {
  display: flex;
  flex-grow: 1;

  @include orientation(portrait)  { 
    margin-left: -16px;
  }

  @include orientation(landscape) { 
    width: 100%;
    justify-content: center;
  }

  &__sprint {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    margin: 0 12px;
    min-width: 40px;
  }

  &__column {
    border-radius: 6px;
  }

  &__commits {
    margin-bottom: 8px;
    align-self: center;
  }

  &__number {
    @extend .--color_secondary;
    margin-top: 10px;
  }
}

.chart-top {
  min-height: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include orientation(portrait) {
    height: 162px;
    display: flex;
    flex-direction: column;

    .chart-top__divider {
      width: 320px;
      height: 2px;
    }

    .user-card--horizontal {
      width: 320px;
    }
  }
  
  @include orientation(landscape) {
    height: 15%;
    display: flex;
    flex-direction: row;

    .chart-top__divider {
      width: 2px;
      height: 40px;
    }

    .user-card--horizontal {
      width: 200px;
    }
  }
}

.divider {
  background: var(--color-secondary);
  opacity: 0.3;
}

.pie-chart {
  &__svg {
    @include orientation(landscape) { width: 80%; }

  }
}

.diagram {
  position: relative;
  height: max-content;
  text-align: center;

  
  @include orientation(landscape) {
    align-self: center;
  }

  @include orientation(portrait) {
    margin-top: 8px;
    max-width: 600px;
    width: 100%;
    align-self: center;
  }

  &__pie-chart {
    width: 100%;
    margin: auto;
  }

  &__text-block {
    position: absolute;
    text-align: center;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    margin-bottom: 8px;
    color: var(--color-primary);
  }

  &__subtitle {
    color: var(--color-secondary);
  }
}

.diagram-page {
  @include orientation(portrait) {
    margin: 6.385%;
    justify-content: center;
  }

  @include orientation(landscape) {
    flex-direction: row;
    align-self: center;
    width: 90%;
    height: 100%;
    padding: 24px 0;
    justify-content: space-around;
  }
}

.diagram-history {
  display: flex;
  flex-direction: column;

  @include orientation(portrait) {
      margin-top: 16px;
  }

  @include orientation(landscape) {
      width: 50%;
      align-self: center;
  }

  &__row {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    margin: 16px 0;
  }

  &__dot {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 10px;
  }

  &__title {
    color: var(--color-primary);
  }

  &__value {
    color: var(--color-secondary);
    margin-left: 16px;
  }

  &__difference {
    color: var(--color-secondary);
    
  }

  &__divider {
    height: 2px;
    width: 100%;
  }
}

.activity-page {
  @include orientation(portrait) { 
    padding: 0 24px 24px 24px; 
    justify-content: flex-end;
  }
}

.activity-chart {
  display: grid;
  height: 100%;
  width: 100%;
  justify-content: center;

  @include orientation(portrait)  {
    grid-template-rows: repeat(24, 16.72px);
    grid-template-columns: repeat(15, 21.865px);
    margin-top: -5px;

    .activity-chart__polygon:nth-child(14n - 6) { grid-column-start: 2; }
  }

  @include orientation(landscape) {
    grid-template-rows: repeat(7, 13px);
    grid-template-columns: repeat(25, 17px);
    margin-top: -10px;

    .activity-chart__polygon:nth-child(24n - 11) { grid-column-start: 2; }
  }
  

  &__polygon {
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
    grid-column-end: span 2;
  }

  &__polygon-0 { background-image: var(--svg-min);   }
  &__polygon-1 { background-image: var(--svg-mid);   }
  &__polygon-2 { background-image: var(--svg-max);   }
  &__polygon-3 { background-image: var(--svg-extra); }
}

.activity-history {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @include orientation(landscape) { 
    margin-bottom: 60px;
    justify-content: center;
    .activity-history__interval { margin: 0 4px; }
    .activity-history__text { text-align: center; }
  }

  &__interval {
    background-repeat: no-repeat;
    width: 60px;
  }

  &__text {
    color: var(--color-secondary);
    margin-top: 20px;
  }

  &__interval-0 { background-image: var(--svg-interval-time); }
  &__interval-1 { background-image: var(--svg-interval-min); }
  &__interval-2 { background-image: var(--svg-interval-mid); }
  &__interval-3 { background-image: var(--svg-interval-max); }
  &__interval-4 { background-image: var(--svg-interval-extra); }
}